.product_listing{
  padding: 50px;
  box-shadow: 2px 2px 10px 2px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}
.thumbnail{
  float: left;
  padding: 2px;
  width: 100px;
  height: 100px;
  margin: 5px
}
.btn-admin{
  float: right;
  font-size: 18px;
  margin: 2px;
}

.pname{
  font-size: 50px;
  font-weight: bold;
}
.pprice{
  font-size: 30px;
  font-weight: bold;
}

.btn-admin{
  padding: 10px;
  background-color: rgb(255, 205, 0);
}

.btn_cart{
font-size: 90px;
background-color: rgb(255, 205, 0);
}

.btn_submit{
  float: right;
  padding: 10px;
background-color: rgb(255, 205, 0);
}

.btn-checkout{
  float: right;
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  padding: 10px;
background-color: rgb(0, 255, 218);
}

.alert-success{
  background-color: rgb(0, 255, 163);
  font-weight: bold;
}
